/* Definición de Variables para Temas */
:root {
    --bg-color: #E8E6E3;
    --text-color: #0A1128;
    --header-bg-color: #FEFCFB;
    --header-text-color: #0A1128;
    --nav-link-color: #0A1128;
    --hero-bg-color-start: #001F54;
    --hero-bg-color-end: #034078;
    --hero-text-color: #FEFCFB;
    --service-item-bg: #FFFFFF;
    --button-bg-color: #1282A2;
    --button-hover-bg-color: #001F54;
    --input-bg-color: #FFFFFF;
    --input-border-color: #CCCCCC;
    --footer-bg-color: #FEFCFB;
    --footer-text-color: #0A1128;
    --social-link-color: #1282A2;
    --theme-toggle-bg: #1282A2;
    --theme-toggle-hover-bg: #001F54;
    --theme-toggle-color: #FFFFFF;
}

.dark-theme {
    --bg-color: #1A2436;
    --text-color: #FEFCFB;
    --header-bg-color: #001F54;
    --header-text-color: #FEFCFB;
    --nav-link-color: #FEFCFB;
    --hero-bg-color-start: #001F54;
    --hero-bg-color-end: #034078;
    --hero-text-color: #FEFCFB;
    --service-item-bg: #FFFFFF;
    --button-bg-color: #034078;
    --button-hover-bg-color: #1282A2;
    --input-bg-color: #1B1B1B;
    --input-border-color: #444444;
    --footer-bg-color: #001F54;
    --footer-text-color: #FEFCFB;
    --social-link-color: #1282A2;
    --theme-toggle-bg: #034078;
    --theme-toggle-hover-bg: #1282A2;
    --theme-toggle-color: #FFFFFF;
}

/* Estilos Utilizando Variables */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.5s, color 0.5s;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

header {
    background-color: var(--header-bg-color);
    padding: 5px 0;
    text-align: center;
    z-index: 999;
    position: relative;
}

header h1 {
    font-weight: 700;
    color: var(--header-text-color);
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav ul li a {
    color: var(--nav-link-color);
    text-decoration: none;
    font-weight: 500;
}

#hero {
    border: 1px solid rgba(255, 255, 255, 0.3);
    background:
        linear-gradient(135deg, var(--hero-bg-color-start) 0%, var(--hero-bg-color-end) 100%);
    text-align: center;
    padding: 150px 0;
    color: var(--hero-text-color);
}

#hero h2 {
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 20px;
}

#hero p {
    font-size: 1.5em;
    margin-bottom: 30px;
}

button {
    background-color: var(--button-bg-color);
    color: #fff;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 50px;
    font-weight: 700;
    margin-bottom: 30px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--button-hover-bg-color);
}

#cta-button {
    margin-top: 20px;
}

.service-item {
    background-color: var(--service-item-bg);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    margin-bottom: 40px;
}

.about-section img {
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.theme-toggle-button {
    position: fixed;
    top: 20px;
    right: 10px;
    z-index: 1000;
    background-color: var(--theme-toggle-bg);
    color: var(--theme-toggle-color);
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.theme-toggle-button:hover {
    background-color: var(--theme-toggle-hover-bg);
}

input[type="email"],
input[type="text"],
textarea {
    padding: 15px;
    border: 1px solid var(--input-border-color);
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
    background-color: var(--input-bg-color);
    color: var(--text-color);
}

footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    text-align: center;
    padding: 40px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.05);
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    margin: 0 15px;
    color: var(--social-link-color);
    text-decoration: none;
    font-weight: 500;
}

.social-links a:hover {
    text-decoration: underline;
}

/* Responsive CSS adjustments */
@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    .about-section {
        flex-direction: column;
        text-align: center;
    }

    .about-section img {
        width: 100%;
        max-width: 300px;
        margin-bottom: 20px;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    #hero h2 {
        font-size: 2.5em;
    }

    #hero p {
        font-size: 1.2em;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 20px;
    }

    footer {
        padding: 20px;
    }

    #contact-form {
        max-width: 100%;
        margin: 0 auto;
        padding: 20px;
        box-sizing: border-box;
    }

    #hero h2 {
        font-size: 2em;
    }

    #hero p {
        font-size: 1em;
    }

    button {
        padding: 10px 20px;
        font-size: 1em;
    }
}