/* Definición de Variables para Temas */
:root {
    --bg-color: #F0F4F8;
    --text-color: #0A1128;
    --header-bg-color: #F0F4F8;
    --header-text-color: #0A1128;
    --nav-link-color: #0A1128;
    --hero-text-color: #FFFFFF;
    --service-item-bg: #FFFFFF;
    --button-bg-color: #0077BE;
    --button-text-color: #0077BE;
    --button-hover-bg-color: #005F93;
    --input-bg-color: #FFFFFF;
    --input-border-color: #CCCCCC;
    --footer-bg-color: #F0F4F8;
    --footer-text-color: #0A1128;
    --social-link-color: #0077BE;
    --theme-toggle-bg: #0077BE;
    --theme-toggle-hover-bg: #005F93;
    --theme-toggle-color: #FFFFFF;
}

.dark-theme {
    --bg-color: #1F2933;
    --text-color: #E0E6ED;
    --header-bg-color: #1F2933;
    --header-text-color: #E0E6ED;
    --nav-link-color: #E0E6ED;
    --hero-text-color: #FFFFFF;
    --service-item-bg: #2D3748;
    --button-bg-color: #00A86B;
    --button-hover-bg-color: #007F56;
    --button-text-color: #ffffff;
    --input-bg-color: #2D3748;
    --input-border-color: #555555;
    --footer-bg-color: #1F2933;
    --footer-text-color: #E0E6ED;
    --social-link-color: #00A86B;
    --theme-toggle-bg: #00A86B;
    --theme-toggle-hover-bg: #007F56;
    --theme-toggle-color: #FFFFFF;
}

/* Estilos Utilizando Variables */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.5s, color 0.5s;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

header {
    background-color: var(--header-bg-color);
    padding: 15px 20px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

h1 {
    font-size: 1.8em;
    font-weight: 700;
    color: var(--header-text-color);
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

nav {
    margin-left: auto;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav ul li a {
    color: var(--nav-link-color);
    text-decoration: none;
    font-weight: 500;
}

#hero {
    border: 1px solid rgba(255, 255, 255, 0.3);
    background:
        radial-gradient(circle at 30% 30%, #0077be 0%, transparent 40%),
        radial-gradient(circle at 70% 70%, #00a86b 0%, transparent 40%),
        linear-gradient(135deg, #000033 0%, #000066 50%, #003366 100%);
    background-blend-mode: screen;
    text-align: center;
    padding: 50px 0;
    color: var(--hero-text-color);
}

#hero h2 {
    font-size: 2.2em;
    font-weight: 700;
    margin-bottom: 10px;
}

#hero p {
    font-size: 1.1em;
    margin-bottom: 15px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

button {
    background-color: transparent;
    color: var(--button-text-color);
    border: 2px solid #005F93;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 700;
    margin-bottom: 30px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

button:hover {
    background-color: #005F93;
    color: #FFFFFF;
    border-color: #005F93;
}

#cta-button {
    color: #FFFFFF;
    margin-top: 20px;
}

.service-item {
    background-color: var(--service-item-bg);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    margin-bottom: 40px;
}

.about-section img {
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.theme-toggle-button {
    background: none;
    border: none;
    font-size: 1.8em;
    cursor: pointer;
    padding: 5px;
    margin-left: auto;
}

.theme-toggle-button:hover {
    background-color: var(--theme-toggle-hover-bg);
}

input[type="email"],
input[type="text"],
textarea {
    padding: 15px;
    border: 1px solid var(--input-border-color);
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
    background-color: var(--input-bg-color);
    color: var(--text-color);
}

footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    text-align: center;
    padding: 40px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.05);
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    margin: 0 15px;
    color: var(--social-link-color);
    text-decoration: none;
    font-weight: 500;
}

.social-links a:hover {
    text-decoration: underline;
}

/* Responsive CSS adjustments */
@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    .about-section {
        flex-direction: column;
        text-align: center;
    }

    .about-section img {
        width: 100%;
        max-width: 300px;
        margin-bottom: 20px;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    #hero h2 {
        font-size: 2.5em;
    }

    #hero p {
        font-size: 1.2em;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 20px;
    }

    footer {
        padding: 20px;
    }

    #contact-form {
        max-width: 100%;
        margin: 0 auto;
        padding: 20px;
        box-sizing: border-box;
    }

    #hero h2 {
        font-size: 2em;
    }

    #hero p {
        font-size: 1em;
    }

    button {
        padding: 10px 20px;
        font-size: 1em;
    }
}